.todos__single {
  border: 1px solid black;
  border-radius: 10px;
  width: 520px;
  /* height: 100px; */
  margin: 20px auto;

  background-color: rgb(210, 210, 210);
}

.todos__single--text {
  /* background-color: rgb(216, 243, 244); */
  border-bottom: 1px solid black;
  width: 495px;
  padding: 3px;
  font-size: 23px;
  margin-left: 10px;
  display: block;
}

.todos__single--text:focus {
  /* outline: none; */
}

.icon {
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
  /* padding: 15px; */
}

.icon__all {
  /* background-color: pink; */
  margin: 5px 0;
}
